* {
    font-family: 'Roboto';
    font-size: 14pt;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #161616;
    background-size: cover;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.about {
    width: 50%;
    color: #FFF;
}

.about__hello {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 10px;
}

.about__name {
    font-size: 90px;
    line-height: 105px;
    margin-bottom: 10px;
}

.about__status {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 15px;
}

.image {
    width: 50%;
    height: 512px;
    max-width: 512px;
}

.image img {
    width: 100%;
    height: 100%;
}

.about__buttons {
    display: flex;
    flex-direction: row;
}

.btn {
    color: #FFF;
    font-weight: bold;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
}

.btn_social {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    padding: 10px;
    margin-right: 10px;
}

.btn svg {
    width: 100%;
    height: 100%;
}

.btn:hover,
.btn:focus {
    background: #a173f3;
    color: #FFF;
}

.btn.btn_github:hover,
.btn.btn_github:focus {
    background: #6e5494;
    color: #FFF;
}

.btn.btn_tg:hover,
.btn.btn_tg:focus {
    background: #0088cc;
    color: #FFF;
}

.btn.btn_gmail:hover,
.btn.btn_gmail:focus {
    background: #D44638;
    color: #FFF;
}

.btn.btn_inst:hover,
.btn.btn_inst:focus {
    background: #5851db;
    color: #FFF;
}

.btn.btn_vk:hover,
.btn.btn_vk:focus {
    background: #45668e;
    color: #FFF;
}

.footer-links {
    color: #FFF;
    display: flex;
    font-size: 13px;
    bottom: 15px;
    position: absolute;
}

.footer-links a {
    color: #FFF;
    font-size: inherit;
    text-decoration: none;
}

.footer-links a:hover {
    color: #5851db;
}

.footer-links__item {
    font-size: inherit;
}

.footer-links__item:not(:last-child) {
    margin-right: 30px;
}

/* media */
@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1366px;
    }
}
